extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Remover usuário
					
	div.container#folha-ce-table-wrapper
		center
			table#folha-ce-table.table-striped.table-bordered
				thead
					tr
						th(style='width:25%') Usuario
						th Remover
				tbody
					each user, j in users
						tr
							td(style="bold")
								a(href='/home/dados/usuario?_id=#{user._id}', target='blank') #{user.username}
							form(name="permissao",method="post",action="/home/gerente/remover/usuario" )
								td 
									button.btn.btn-primary(type="submit", value=user.username, name="bizu") Remover

