extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title
						#user
							if user
								h1.text-center.login-title Bem-vindo,  #{user.username}
									a(href='/home/signout', class='text-center new-account') Sair
	
	