extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Realizar Walk-in
	div.container(style="margin-top:30px")
		div.row
			center
				div.section-wall
					form(class='form-signin', action='/home/recepcao/walkin', method='POST')
						script.
							$( function() {
								$( "#dateOut" ).datepicker(
								{showOtherMonths: true,
								selectOtherMonths: true,
								dateFormat: "dd/mm/yy",
								altField: "#checkout",
								altFormat: "yy-mm-dd",
								minDate: "+1D"
								});
							});
						input#dateOut(type='text', name='checkout_', class='form-control', placeholder='Data de saida', required)
						input#checkout(type='hidden', name='checkout', class='form-control')
						
						select(name = 'dependente', class = 'form-control')
							option(value = '0') Sem dependente
							option(value = '1') 1 dependente
							-for(var i = 2; i <= 10; i++){
								option(value = '#{i}') #{i} dependentes
							-}
						
						button(class='btn btn-lg btn-primary btn-block', type='submit') Checar vagas
						span.clearfix