extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Inserir ganho/despesa
	div.container(style="margin-top:30px")
		div.row
			center
				div.section-wall
					form(class='form-signin', action='/home/financeiro/inserir', method='POST')
						select(name='tipo', class='form-control', placeholder='Ganho/Despesa', required)
							option(value='Ganho') Ganho
							option(value='Despesa') Despesa
						input(type='text', name='motivo_financeiro', class='form-control', placeholder='Motivo',required, autofocus)
						input.valor(type='text', name='valor',class='form-control', placeholder= 'R$ 0.00', required)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Inserir
						span.clearfix