extends layout
block content
	-if ( message != undefined && message.length){
		div.container(style="margin-top:30px")
			div.row
				center
					if ( message.toString().charAt(0) == '!')
						div.alert.alert-danger #{message.toString().slice(1)}
					else
						div.alert.alert-success #{message}
	-}
	div.container(style="margin-top:30px")
		div.row
			center
				div.section-wall
					h1.section-title Dados para cadastro do hóspede
					form.form-signin#form-solicitacao( action='/home/recepcao/walkin/cadastrar', method='POST')
						.cadastro-sections
							| Informações pessoais
						select(name='posto', class='form-control', placeholder='Posto/Graduação', required)
							if (!_debug)
								option(disabled value='', selected hidden) Posto/Graduação
							- for (var i = 0; i < posto.length; i++) {
								option(value=posto[i]) #{posto[i]}
							- }
						if (_debug)
							input(type='text', name='nome', class='form-control', placeholder='Nome completo', value="debug")
						else
							input(type='text', name='nome', class='form-control', placeholder='Nome completo', required)
						input(type='text', name='nome_guerra', class='form-control', placeholder='Nome de Guerra/Tratamento')
						input.saram(type='text', name='saram', class='form-control', placeholder='SARAM')
						input(type='text', name='identidade', class='form-control', placeholder='Identidade')
						input(type='text', name='unidade', class='form-control', placeholder='Unidade/Empresa')
						input(type='email', name='email', class='form-control', placeholder='Email')
						input(type='text', name='endereco', class='form-control', placeholder='Endereço')
						input.telefone(type='text', name='telefone', class='form-control', placeholder='Telefone')
						input.cpf(type='text', name='cpf', class='form-control', placeholder='CPF')

						.cadastro-sections
							| Nome do curso ou missão
						input(type='text', name='curso', class='form-control', value='Motivo pessoal', placeholder='Nome do curso ou missão')
						
						.cadastro-sections
							| Solicitante
						.radio-inline
							input(type='radio', name='solicitante', value='Aluno', checked='çhecked')
							| Aluno
						.radio-inline
							input(type='radio', name='solicitante', value='Instrutor')
							| Instrutor
						.radio-inline
							input(type='radio', name='solicitante', value='Não se aplica')
							| Não se aplica
							
						.cadastro-sections
							| Sexo
						.radio-inline
							input(type='radio', name='sexo', value='M', checked='çhecked')
							| Masculino
						.radio-inline
							input(type='radio', name='sexo', value='F')
							| Feminino
						
						.cadastro-sections
							| Termos de compromisso
						if (_debug)
							input(type='checkbox')
						else
							input(type='checkbox', required)
						|  Estou ciente do meu dever de ler a NPA 021/ASE que estabelece as normas de utilização do hotel do ICEA, bem como contribuir para o seu fiel cumprimento, colaborando com a boa convivência entre os hóspedes, civis contratados e com a administração do hotel, evitando, assim pagar multa e sofrer sanções previstas na NPA.
						br
						a(href="https://www.icea.gov.br/hotel/npa_021.pdf", target="_blank") NPA 021/ASE

						button(class='btn btn-lg btn-primary btn-block', type='submit', style='margin-top:20px') Confirmar Walk-in
						span.clearfix
		