extends layout2
block content
	script.
		$( function() {
			var dateFormat = "dd/mm/yy",
			from = $( "#from" ).datepicker(
			{ showOtherMonths: true,
			selectOtherMonths: true,
			dateFormat: dateFormat,
			altField: "#data",
			altFormat: "yy-mm-dd"
			});
		});
		var index = 1;
		function() createRow{
			var table = document.getElementById("myTable");
			var myTd;
			var myInput;
			var myTr = document.createElement('tr');
			var myTd = document.createElement('td');
			var myInput = document.createElement(input(type='text', name='test', value="banana"));
			myTd.appendChild(myInput);
			myTr.appendChild(myTd);
			table.appendChild(myTr);
		}
	form(action='/', method='POST')
		div.container.default-table-wrapper
			center
				table#folha-ce-table.table-striped.table-bordered
					tbody
						tr
							td(colspan="6")
								label Ficha de Requisição de Embarque nas Lanchas do GAP-AK
						tr
							td(colspan="6") Informações do Solicitante
						tr
							td(colspan="6")
								div.input-group
									span.input-group-addon Nome/Posto/Graduação
									input(type='text', name='nome', class = 'form-control', size="500", required)
						tr
							td(colspan="2")
								div.input-group
									span.input-group-addon Nº Crachá
									input(type='text', name='cracha', class = 'form-control', size="500", required)
							td(colspan="2")
								div.input-group
									span.input-group-addon Identidade
									input(type='text', name='identidade', class = 'form-control', size="500", required)
							td(colspan="2")
								div.input-group
									span.input-group-addon Divisão/Subdivisão/Seção
									input(type='text', name='divisao', class = 'form-control', size="500", required)
						tr
							td(colspan="1")
								.radio-inline
									input(type='radio', name='solicitante', value='SLZ-AK', checked='çhecked')
									| São Luís -> Alcântara
							td(colspan="1")
								.radio-inline
									input(type='radio', name='solicitante', value='AK-SLZ')
									| Alcântara -> São Luís
							td(colspan="2")
								div.input-group
									span.input-group-addon Data
									input#from(type='text', name='from' class='form-control', placeholder='Data', autocomplete="off", size="500")
									input#data(type='hidden', name='data', class='form-control')
							td(colspan="2")
								div.input-group
									span.input-group-addon Email
									input(type='email', name='email', class = 'form-control', size="500", required)
		div.container.default-table-wrapper
			center
				table#myTable.table-striped.table-bordered
					tbody
						tr
							td(colspan="6")
								label Relação das pessoas que necessitarão embarcar
						tr
							td(colspan="2")
								label Nome
							td(colspan="1")
								label Identidade
							td(colspan="1")
								label Dependente/Parente
							td(colspan="2")
								label Motivo
						-for (var j = 0; j < 5; j++){
							tr
								td(colspan="2")
									input(type='text', name='relacao[j]', class = 'form-control', size="100")
								td(colspan="1")
									input(type='text', name='relacao[j+1]', class = 'form-control', size="50")
								td(colspan="1")
									.radio-inline
										input(type='radio', name='relacao[#{j+2}]', value='sim')
										| Sim
									.radio-inline
										input(type='radio', name='relacao[#{j+2}]', value='nao')
										| Não
								td(colspan="2")
									input(type='text', name='relacao[j+3]', class = 'form-control', size="50")
						-}
		div.container.default-table-wrapper
			center
				table#folha-ce-table.table-striped.table-bordered
					tbody
						tr
							td(colspan="3")
								input(type='checkbox', name='termo', checked=false, style="width: 15px; height: 15px;", required)
								|  Declaro que estou de acordo com o termo de responsabilidade abaixo
							td(colspan="3")
								button(class='btn btn-lg btn-primary btn-block', type='submit') Enviar requisição
		div.container.default-table-wrapper
			center
				table#folha-ce-table.table-striped.table-bordered
					tbody
						tr
							td(colspan="6")
								label Termo de Responsabilidade
						tr
							td
								p
									| Declaro, para  todos  os  fins,  que  compreendo  e  aceito  os  riscos  decorrentes  da  travessia  da  Baía  de  São Marcos, para todos  os passageiros ora solicitados para embarque, pois tenho conhecimento das dificuldades de navegabilidade  em  razão  da  maré abrupta e intempestiva, da natureza de mar aberto, dos fortes ventos e da existência de toda sorte de vida marinha, além do risco de queda durante o embarque ou desembarque.
								p
									| Compreendo que a embarcação é de propriedade do Grupamento de Apoio de Alcântara e utilizada para o transporte (SL/AK/SL) exclusivo do  efetivo  (militares,  civis  e  dependentes)  do  GAP-AK/CLA,  sendo operada por mestres e marinheiros do  GAP-AK/CLA, treinados e autorizados pela Capitania dos Portos do Maranhão.
								p
									| Reconheço que o respectivo transporte é mera liberalidade da Chefia do GAP-AK, e, por inexistir qualquer contraprestação, caracteriza- se como transporte de cortesia, regrado pelo art. 736 do Código Civil Brasileiro. Portanto, há isenção de qualquer responsabilização objetiva por parte do GAP-AK.
								p
									| Por fim, declaro ter ciência de que o GAP-AK, sua diretoria e/ou funcionários e/ou prepostos, 
									strong não se responsabilizam 
									| (civil ou criminalmente) 
									strong por qualquer dano pessoal 
									| (mesmo de morte ou de ferimentos físicos) 
									strong ou material 
									| (perda ou dano total ou parcial de objetos e pertencentes) 
									strong ocorridos a bordo da embarcação.
		