doctype html
html
	head
		title= title
		script(type="text/javascript" src="/scripts/jquery.2.1.1.query.min.js")
		script(type="text/javascript" src="/scripts/3.3.7.js.bootstrap.min.js")
		script(type="text/javascript" src="/scripts/jquery.mask.min.js")
		script(type="text/javascript" src="/scripts/jquery.maskMoney.min.js")
		script(type="text/javascript" src="/scripts/jquery-ui.js")
		script(type="text/javascript" src="/scripts/datatables.min.js")
		script(type="text/javascript" src="/scripts/dataTables.buttons.min.js")
		script(type="text/javascript" src="/scripts/buttons.print.min.js")
		link(rel="stylesheet", href="/stylesheets/jquery-ui-1.12.1.custom/jquery-ui.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/3.3.7.css.bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/datatables.min.css')
		script.
			$(document).ready(function(){
				$('.cpf').mask('000.000.000-00');
				$('.data').mask('00/00/0000');
				$('.telefone').mask('(00) 00000-0000');
				$('.dropdown-toggle').dropdown();
				$('.saram').mask('0000000');
				$('.valor').mask('#0.00', {reverse: true});
			});
		

	body.body-background 
		img(src="/img/logo.png", style='width:100%')
		.botoes-wrapper
			.botao-header
				.botao-box.pos-botao-1(text-align: center)
					.dropdown#dropdown-layout
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Recepção
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/recepcao/checkin') Realizar Check-in
							li
								a(href='/home/recepcao/checkin/cancelar') Cancelar Check-in
							li
								a(href='/home/recepcao/checkout') Realizar Check-out
							li
								a(href='/home/recepcao/estender') Estender estada
							li
								a(href='/home/recepcao/mudanca') Realizar Mudança
							li
								a(href='/home/recepcao/walkin') Realizar Walk-in
				.botao-box.pos-botao-2
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Reserva
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/reserva') Ver solicitações de reserva
				.botao-box.pos-botao-3
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Lavanderia
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/lavanderia/folha') Preencher folha de coleta e entrega
							li
								a(href='/home/lavanderia/lista') Visualizar lista de folhas
				.botao-box.pos-botao-4
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Manutenção
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/manutencao/quadro') Visualizar quadro de manutenções
							li
								a(href='/home/manutencao/limpeza') Visualizar quadro de limpeza
				.botao-box.pos-botao-5
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Financeiro
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/financeiro/blacklist') Blacklist
							li
								a(href='/home/financeiro/pagamento') Analisar pagamentos
							li
								a(href='/home/financeiro/alterar') Alterar diárias e regras
				.botao-box.pos-botao-6
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Gerência
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/gerente/permissao') Gerenciar permissões de usuários
							li
								a(href='/home/gerente/registrar/usuario') Registrar usuário
							li
								a(href='/home/gerente/remover/usuario') Remover usuário
							li
								a(href='/home/gerente/alterar/leito') Alterar leitos
				.botao-box.pos-botao-7
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Informação
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/informacao/log') Log
							li
								a(href='/home/informacao/relatorio') Relatórios
							li
								a(href='/home/informacao/registro_geral') Registro Geral
							li
								a(href='/home/informacao/cadastro') Hóspedes
				.botao-box.pos-botao-8
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Início
							span.caret
						ul.dropdown-menu
							li
								a(href='/home') Home
							li
								a(href='/') Cadastrar
							li
								a(href='/home/senha') Trocar senha
							li
								a(href='/home/signout') Sair
		
	-if ( message != undefined && message.length){
		div.container
			div.row
				center
					if ( message.toString().charAt(0) == '!')
						div.alert.alert-danger #{message.toString().slice(1)}
					else
						div.alert.alert-success #{message}
	-}
	block content
	



